
.accueil {
    position: relative;    
}
video{
    width: 100%;
    height: auto;
}
  
.text1 {
    position: absolute;
    top: 0;
    margin-top: 5%;
    left: 10rem;
    width: 40%;
    
    text-align: center;
    z-index: 1; /* pour placer le texte au-dessus de la vidéo */
    background-color: rgba(255, 255, 255, 0.884);    
    border-radius: 10px;
}
  
.text1 h1 {
    font-size: 3rem;
    margin: 0;
    
}
  
.text1 p {
    font-size: 1rem;
    line-height: 1.5;
    
}

.barRecherche{
    
    text-align: center;
    margin-top: -22rem;
    width: 90%;
    max-height: 25%;
    background-color: rgba(255, 255, 255, 0.884);    
    z-index: 1;
    position: absolute;
    
    margin-left: 5%;
    border-radius: 10px;

}

input{
    padding: 10px;
    border: none;
    border-radius: 5px ;
    width: 20%;
    font-size: 18px;
    border-color: black;
}

input[type="text"] {
    margin-right: 10px; 
}
  
input[type="date"] {
    margin-left: 10px; 
}
input[type="number"] {
    margin-left: 20px; 
}
  
.button{
    width: 20%;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    border-color: black;
    margin-top: 32px;
    background-color: rgb(149, 149, 255);
    border: none;
}

.button:hover{
    background-color: rgb(16, 16, 100);
    color: floralwhite;
}

.destination{
    margin: 3rem 3rem;
}


.carteBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(232, 234, 240, 0.5);
    max-width: 100%;
    
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 2rem 2rem;
    padding: 2rem;
}
  
.carte {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    
}
  
.carte img {
    max-width: 70%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  